*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

/*body{*/
/*    overflow: hidden;*/
/*}*/

/*header{*/
/*    height: 100vh;*/
/*    background: url("../img/background_header.jpg") no-repeat center center/ auto;*/
/*}*/

/*footer + div{*/
/*    top: 0;*/
/*    position: absolute;*/
/*    height: 100vh;*/
/*    width: 100%;*/
/*    background: #ffffffff;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/



/*.none{*/
/*    display: none;*/
/*}*/

/*.popup{*/
/*    animation: pop 0.9s;*/
/*}*/

/*@keyframes pop {*/
/*    0%{*/
/*        transform: scale(0);*/
/*    }*/

/*    50%{*/
/*        transform: scale(1.6);*/
/*    }*/

/*    100%{*/
/*        transform: scale(1);*/
/*    }*/
/*}*/

/*.none2{*/
/*    animation: none_2 0.9s;*/

/*}*/

/*@keyframes none_2 {*/
/*    0%{*/
/*        transform: scale(1.6);*/
/*    }*/

/*    50%{*/
/*        transform: scale(0.9);*/
/*    }*/

/*    100%{*/
/*        transform: scale(0.1);*/

/*    }*/
/*}*/

/*footer + div .container{*/
/*    width: 30%;*/
/*    height: 50%;*/
/*    background: currentColor;*/
/*    padding: 26px;*/

/*}*/

/*footer + div .container h1{*/
/*    color: white;*/
/*    text-align: center;*/
/*    font-size: 2rem;*/
/*    margin: 10px 0;*/
/*}*/

/*form{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    row-gap: 2rem;*/
/*}*/

/*input{*/
/*    flex-basis: 100%;*/
/*}*/

/*input.error{*/
/*    outline-color: red;*/
/*    outline-width: 2px;*/
/*    outline-style: solid;*/
/*}*/

/*button{*/
/*    flex-basis: 50%;*/
/*}*/


/*@media only screen and (max-width:500px) {*/
/*    footer + div .container{*/
/*        width: 80%;*/
/*        height: 40%;*/
/*    }*/
/*    footer + div .container h1 {*/
/*        font-size: 1.5rem;*/
/*    }*/
/*    input,button{*/
/*        width: 100%;*/
/*    }*/

/*}*/

.container{
    /* overflow: hidden; */
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: stretch;
    justify-content: center;
}

.slider{
    overflow: hidden;
    flex-basis: 35%;
    flex-wrap: wrap;
    position: relative;
}

.tofs-animate{
    position: absolute;
    padding: 0 6%;
}

.tofs{
    display: flex;
    /* overflow: hidden; */
    /* flex-basis: 35%; */
    flex-wrap: wrap;
    will-change: transform;
    will-change: animation;

    /* top: 144px; */
    -moz-animation: slide 60s linear infinite;
    -webkit-animation: slide 60s ease-in-out infinite;
    -o-animation: slide 60s ease-in-out infinite;;
    gap: 28px;
    /*background: rebeccapurple;*/
}

.tofs-alternate{
    display: flex;
    /* overflow: hidden; */
    /* flex-basis: 35%; */
    flex-wrap: wrap;
    will-change: transform;
    will-change: animation;

    /* top: 144px; */
    -moz-animation: slide 60s linear infinite;
    -webkit-animation: slide 60s ease-in-out infinite reverse;
    -o-animation: slide 60s ease-in-out infinite;;
    gap: 28px;
    /*background: rebeccapurple;*/
}


@keyframes slide {
    0%{
        transform: translateY(5%);
        -moz-transform: translateY(5%);
        -webkit-transform: translateY(5%);
        -o-transform: translateY(5%);
    }
    25%{
        transform: translateY(-30%);
        -webkit-transform: translateY(-30%);
    }
    50%{
        transform: translateY(-60%);
        -webkit-transform: translateY(-60%);
    }
    75%{
        transform: translateY(-75%);
        -webkit-transform: translateY(-75%);
    }
    100%{
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
    }
}

/*.tofs > div{*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*}*/

div > div > img{
    width: 100%;
    height: 100%;
}

.image{
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.image > img{
    width: 100%;
    height: 100%;
}


@media only screen and ( max-width: 400px ) {
    .slider {
        flex-basis: 80%;
    }
}